<h1>Welcome to Pierre's Vendor tracking web app!</h1>
<p>Add a new Vendor to keep track of orders!</p>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>
<h5><a href='/vendors'>View vendors here</a></h5>
